@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
    color: #1f2937;
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
